@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&display=swap");

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* using Archivo  */
.dela-gone {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-n-btn {
  top: 0;
  left: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
}
.pop-up-style {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 12px 0;
  position: absolute;
  transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  width: 270px;
  will-change: transform;
  z-index: 1;
}
